.App {
    margin-top: -17px;
    background-color: #2b2442;
}

.App-main {
    background-color: #2b2442;
}

body {
    background-color: #2b2442;
    margin: 0;
    overflow: hidden;
}

#__next {
    overflow: hidden;
    margin: -8px;
    height: 100vh;
    background-color: #2b2442;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: none;
}

::-webkit-scrollbar {
    width: 10px;
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: #8c8c8f;
}