@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

#TodoForm-root {
    margin: 4rem 0;
    background-color: rgb(243, 171, 201);
    box-shadow: 11px -8px 5px 0px rgb(0 0 0 / 18%);
    -webkit-box-shadow: 11px -8px 5px 0px rgb(0 0 0 / 18%);
}

.TodoForm-text {
    /* background-color: #fcfcfc; */
    flex-basis: 80%;
}

.TodoForm-desc {
    background-color: rgb(19, 7, 51);
    display: flex;
    flex-direction: column;
    color: rgb(215, 205, 243);
    width: 100%;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    display: flex;
}

.TodoForm-desc>div {
    /* background-color: cadetblue; */
    margin-top: 0.5rem;
    border-bottom: 1px solid rgb(223, 222, 222);
    padding: 1rem;
    display: flex;

}

.TodoForm-desc>div>div {
    display: flex;

    flex-direction: column;
    /* background-color: chocolate; */
    width: 100%;
}


.TodoForm-desc>div>div>span {
    /* background-color: chocolate; */
    font-weight: normal;
    font-size: 0.65rem;
    letter-spacing: 2px;
    text-transform: none;
    color: rgb(255, 0, 170);
}

@media only screen and (max-width: 660px) {
    .TodoForm-desc {
        font-size: 0.7rem;
        letter-spacing: 0;
    }

    .TodoForm-desc>div>div>span {
        font-size: 0.6rem;
    }
}

.TodoForm-form {
    /* background-color: chocolate; */
    display: flex;
    margin-left: 1rem;
}

.TodoForm-form>div:nth-child(2) {
    /* background-color: chocolate; */
    flex-basis: 20%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 8px;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: 8px;
}

.TodoForm-icon {
    color: rgb(19, 7, 51);
    cursor: pointer;
}

.TodoForm-icon:active {
    color: rgb(146, 37, 192);
}